

body {
    font-family: comic, Helvetica, sans-serif;
    margin: 0;
  }
  

.bg-img {
    /* The image used */
    background-image: url("massimiliomo.jpg");

  
    /* min-height: 480px;
    height: 100%;
  width: 100%; */
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Needed to position the navbar */
    position: top;
  }
  /* Position the navbar container inside the image */
.container {
    display: flex;
    position: top;
    margin: 20px;
    justify-content: space-around;
    width: 100%;
   
  }
  
  /* The navbar */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Navbar links */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .textbox{
    background-color: rgba(255, 255, 255);
    margin: 0px 100px 50px;
    padding:10px;

    
  }